@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Makes it thinner */
}

::-webkit-scrollbar-track {
  background: #1e293b; /* Dark grayish-blue track */
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* Subtle blue-gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Slightly lighter when hovered */
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

